body {
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.collog  {
    color: #2e2f42;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}
.headstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headstudio:hover,
.headstudio:focus {
    color:#404bbf;
}
.add {
    font-style: normal;
}
.mailtel{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailtel:hover,
.mailtel:focus {
    color: #404bbf;

}
.centrecolor {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
}
.centretext {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}
.centrebutton {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.centrebutton:hover,
.centrebutton:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.advant {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
}
.advantp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.ourteamhead {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.mark {
    background-color: #FFFFFF;
    display: block;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.ourportfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.banking {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.end {
    background-color: #2e2f42;
    padding: 100px 0;
}
.logoend {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.collogg {
    color: #f4f4fd;
}
.endp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .collog {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.divdiv {
    display: flex;
    align-items: center;
}
.navup {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu>li:first-child>a {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu>li:first-child>a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contact-list{
    display: flex;
    gap: 40px;
}
.contact-list li:last-child {
    margin-right: 0;
}
.contact-list>li>a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;
}
.advantages {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    
}
.uladvant {
    display: flex;
    gap: 24px;
}
.team-member {
    padding: 32px 0;
    text-align: center;
}
.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social {
    width: 40px;
    height: 40px;
}
#inst {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inst:hover,
#inst:focus {
    background-color: #404bbf;
}
#twit {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#twit:hover,
#twit:focus {
    background-color: #404bbf;
}
#facebook {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook:hover,
#facebook:focus {
    background-color: #404bbf;
}
#linked {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linked:hover,
#linked:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: #f4f4fd;
}
.icon-social {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social:hover,
.icon-social:focus {
    background-color: #404bbf;
}
.secfoot {
    padding-top: 120px;
    padding-bottom: 120px;
}
.ulport {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    list-style-type: none;
    padding: 0;
}
.bankapp {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bankapp:hover {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.bankapp:hover p {
    transform: translateY(0%);
}
.card-port {
    position: relative;
    overflow: hidden;
}
.cardp {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.bankapp:nth-child(3n) {
    margin-right: 0;
}
.divname {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
img {
    display: block;
}
.list {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0;
}
.item {
    width: calc((100% - 72px) / 4);;
    background-color: #ffffff;
    
}
.item h3 {
    margin-bottom: 8px;
}
.ourteam .item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.ourteam .team-member>div[class*="container-"] {
    padding: 32px 0;
}
.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.container.footer {
    display: flex;
    align-items: baseline;
}
.social-media-container {
    display: flex;
}
.footer-logo-subtitle {
    margin-right: 120px;
}
.footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 0;
}
.footer-list {
    display: flex;
    gap: 16px;   
}
.footer-media-elem {
    width: 40px;
    height: 40px;
}

.footer-media-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.footer-media-icon:hover,
.footer-media-icon:focus {
    background-color: #31d0aa;
}
.footer-icon {
    fill: #f4f4fd;
}
.team-media {
    width: 40px;
    height: 40px;
}









.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    

.roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }